fonts/*
favicons/android-chrome-192x192.png
favicons/android-chrome-512x512.png
favicons/apple-touch-icon.png
favicons/browserconfig.xml
favicons/favicon.ico
favicons/mstile-150x150.png
favicons/safari-pinned-tab.svg
favicons/site.webmanifest