/* mediaQuery font sizes */
@media screen and (min-width: 1024px) and (max-width: 1036px){
  .hotelInfos h4{
    font-size: 0.9rem;
  }
  .priceInfo{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 850px) {
  .hotelInfos{
    h4{
      font-size: 0.9rem;
    }
    .priceInfo{
      font-size: 0.9rem;
    }
  }
}

/* --------------------------- */
/* TABLETS */

@media screen and (max-width: 1024px){

  .filterContainer{
    flex-direction: column;
    align-items: flex-start;
  }
  .houseSection{
    flex-wrap: wrap;
  }

  .houseInArea{
    max-width: none;
  }

  .popularSection{
    width: 100%;

    .cardContainer{
      flex-direction: row;
      justify-content: space-between;
    }

    .popularCard{
      max-width: 275px;
    }
  }

  .activitySection{
    margin: 2.5rem auto 0;
    padding: 0;
  }
  .activityContainer{
    gap: 10px;
  }
  .activityCard{
    height: 270px;
    width: 100%;

    .activityImg{
      height: 80%;
      width: 100%;
    }
  }
}

/* ----------------------------- */
/* PHONES */

@media screen and (max-width:767.98px){
  body{
    display: block;
  }
  .generalContainer{
    padding: 0;
  }

  p{
      font-size: 0.9rem;
  }
  h1{
    font-size: 1.2rem;
  }

  button{
    max-width: 170px;
    width: 100%;
  }

  .motto{
    padding: 0 16px;
  }

  .searchContainer{
    justify-content: center;
    width: 100%;

    .formContainer{
      grid-template-columns: 15% 70% 15%;
      width: 90%;

      #location{
        text-align: left;
        margin-left: 10px;
      }
    }
    .subBtn{
      border-radius: 15px;

      #formSubBtn{
        display: none;
      }
    }
    #mobileSpan{
      display: flex;
      align-items: center;

      i{
        color: #FFFF;
      }
    }
  }

  .filterContainer,
  .houseAvailable{
    padding: 0 16px;
  }
  .filterContainer div{
    width: 100%;
  }
  .filterContainer ul{
    flex-flow: row wrap;
    justify-items: center;
    width: 100%;
    gap: 15px 2%;

    li{
      width: 48%;

      button{
        max-width: none;
        justify-content: center;
      }
    }
  }

  /* ---------------------------------- */

  .houseSection{
    flex-direction: column-reverse;
    gap: 0;

    .houseInArea{
      background: #FFFF;
      padding: 0 25px;

      h2{
        margin: 1rem 0 0 0;
      }
    }
  }

  .cardGroup{
    flex-direction: column;
    align-items: center;
    gap: 15px 2%;

    a{
      width: 100%;
    }
  }
  .card{
    width: 100%;
    max-width: none;
    height: 146px;
  }
  
.generalInfos{
  padding: 0.5rem 0.5rem 0 0.5rem;

  .infos{
    margin: 0;
  }
}

  #more{
    margin: 0 0 1rem 1rem;
  }

  .popularSection{
    border-radius: 0;

    .cardContainer{
      flex-direction: column;

      .popularCard{
        max-width: none;
      }
    }
  }

  .activitySection{
    padding: 0 25px;

    .activityContainer{
      flex-direction: column;
      gap: 15px 2%;

      a{
        width: 100%;
      }

      .activityCard{
        height: 200px;
      }
    }
  }
}