/* font */
@font-face {
  font-family:"Raleway" ;
  src: url(../fonts/static/);
}

:root{
  --greyBack: #F2F2F2;
  --Bookiblue: #0065FC;
  --lightBlue: #DEEBFF;
  --text: #000000;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body{
  font-family: "Raleway",sans-serif;
  max-width: 1440px;
  min-width: 320px;
  padding: 1rem 2rem 0 2rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: var(--text);
}

h2{
  font-size: 1.2em;
  margin-bottom: 1.5rem;
}

button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 1rem 0.5rem;
  border-radius: 50px;
  background: transparent;
  border: 2px solid var(--greyBack);
  cursor: pointer;
  font-weight: bold;
  
}
button:hover{
  background: var(--lightBlue);
}


main{
  margin: 50px 0;
}
#motto{
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.searchContainer{
  margin: 30px 0;
  display: flex;
}
.formContainer{
  display: grid;
  grid-template-columns: 15% 45% 40%;
  align-items: center;
  border: 1px solid var(--greyBack);
  height: 3rem;
  width: 20rem;
  border-radius: 15px;
}
.mapIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--greyBack);
  height: 100%;
  border-radius: 15px 0 0 15px;

}
#location{
  width: 100%;
  border: none; 
  padding: 5px; 
  text-align: center;
  font-weight: bold;
  outline: none;
}
.subBtn{
  display: flex;
  justify-content: center;
  background: var(--Bookiblue);
  height: 100%;
  border-radius: 0 15px 15px 0;

  #formSubBtn{
    background: transparent;
    border: none;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
  }
  
}
/* -------------------------- */

.filterContainer ul{
  display: flex;
  align-items: center;
  gap: 1rem;

  #filterSpan{
    font-size: 0.9em;
    font-weight: bold;
  }
}
/* ---------------------------- */

.houseAvailable{
  display: flex;
  align-items: baseline;
  margin: 30px 0;

  span{
    border: 1px solid var(--greyBack);
    margin-right: 0.5rem;
    border-radius: 50px;  
    padding: 5px;
    display: grid;
    place-items: center;
  }
}
/* ---------------------------- */

.houseSection{
  width: 100%;
  display: flex;
  gap: 20px;
}
.houseInArea{
  background: var(--greyBack);
  border-radius: 15px;
  padding: 1.2rem;
  max-width: 54rem;
  width: 100%;
}
.cardGroup{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.75rem;
  justify-items: center;

  .roomImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
  }
}
.card{
  background: #FFFFFF;
  padding: 0.3rem;
  border-radius: 1.5rem;
  width: 243px;
  height: 207;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}
.card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 6px;
  transform: scale(1.003);
}

.cardPreview{
  overflow: hidden;
  height: 7rem;
  width: 100%;
}
.generalInfos{
  padding: 0.5rem;
  line-height: 1.5rem;

  .priceInfo{
    font-size: 0.9em;
  }
}
#more{
  margin: 1rem 0 0 1rem;
}
.popularSection{
  background: var(--greyBack);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .titleContainer{
    display: flex;
    justify-content: space-between;
  }
}
.popularCard{
  height: 146px;
  width: 369px;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0.3rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  background: #FFFFFF;
}
.roomPicture{
  width: 100%;
  height: 100%;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem 0 0 1.5rem;

  }
}
.hotelInfos{
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0 0.5rem;
  justify-content: space-between;

  .priceInfo{
    margin-top: 0.5rem;
  }
}

/* --- ACTIVITY SECTION --- */

.activitySection{
  margin: 2.5rem auto;
  padding: 0 1rem;

  .activityContainer{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1rem;
  }
}
.activityCard{
  width: 16rem;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 5px;
  border-radius: 1.5rem;

  .activityImg{
    height: 22rem;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem 1.5rem 0 0;
  
    }
  }

  h4{
    padding: 1rem 0.5rem;
    font-size: 0.9em;
  }
}
.activityCard:hover{
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
}


